.enter {
  transform: scale(0);
}

.enterActive {
  transform: scale(1);
  transition: transform 300ms linear;
}

.exit {
  transform: scale(1);
}

.exitActive {
  transform: scale(0);
  transition: transform 300ms linear;
}
